* {
  box-sizing: border-box;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 350px;
  padding: 10px;
}

.linkwrap {
  text-decoration: none;
  color: black;
  font-size: 10px;
  overflow: hidden;
}

.linkwrap:hover {
  background-color: rgba(200, 200, 200, 0.5);
}

.img {
  width: 230px;
  height: 230px;
  padding: 20px;
  object-fit: contain;
  transform: scale(1);
  transition-duration: 0.3s;
}

.img:hover {
  transform: scale(1.1);
  transition-duration: 0.3s;
}

.info {
  width: 230px;
  height: 100px;
  padding: 10px;
}

.title {
  font-weight: bold;
  font-size: 14px;
}

.discount {
  color: red;
  font-weight: bold;
  font-size: 12px;
  margin-right: 4px;
}

.price {
  font-weight: bold;
  font-size: 14px;
}

.soldout {
  color: red;
  font-weight: bold;
  margin-left: 5px;
}
