* {
  box-sizing: border-box;
}

button {
  border: 1px solid rgb(230, 230, 230);
  background-color: rgb(230, 230, 230);
}

button:hover {
  border: 1px solid black;
}

.detail {
  padding: 80px 50px;
  background-clip: content-box;
  display: flex;
}

.img {
  width: 500px;
  height: 500px;
  object-fit: contain;
  border: 1px solid rgb(230, 230, 230);
}

.info {
  width: 500px;
  height: 500px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

.info > * {
  padding: 10px 0;
}

.title {
  font-weight: bold;
  font-size: 28px;
  border-bottom: 2px solid rgb(220, 220, 220);
}

.discount {
  color: red;
  font-weight: bold;
  font-size: 20px;
  margin-right: 8px;
}

.price {
  font-weight: bold;
  font-size: 24px;
}

.soldout {
  color: red;
  font-weight: bold;
  margin-left: 5px;
}

.select {
  display: flex;
  line-height: 30px;
  border-bottom: 2px solid rgb(220, 220, 220);
}

.select > div {
  width: 120px;
  text-align: end;
}

.selectbox {
  width: 120px;
  height: 30px;
  display: flex;
  align-content: center;
  margin-right: 60px;
}

.selectbox > button {
  border-collapse: collapse;
  line-height: 30px;
  width: 30px;
  height: 30px;
  font-size: 16px;
  padding: 0;
}

.selectbox > input {
  border: 1px solid rgb(230, 230, 230);
  padding: 0;
  width: 60px;
  height: 30px;
  text-align: center;
  font-size: 16px;
}

.info > button {
  margin-top: 10px;
}
