.login {
  padding-top: 50px;
  background-clip: content-box;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  font-weight: bold;
  text-decoration: none;
  color: black;
  font-size: 18px;
  margin-bottom: 40px;
}

.wrap {
  background-color: rgb(240, 240, 240);
  padding: 10px;
}

.container {
  display: flex;
  height: 50px;
  align-items: center;
}

.container > * {
  height: 30px;
  margin-right: 10px;
}

.container > div:first-child {
  width: 100px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  line-height: 30px;
}

.container > div:last-child {
  width: 200px;
}

.container > input {
  height: 30px;
  margin: 10px 0;
  width: 200px;
  padding: 10px;
}

.container > input::placeholder {
  text-align: center;
}

.container > button {
  width: 300px;
  margin-left: 10px;
  background-color: rgb(100, 100, 100);
  color: white;
  font-weight: bold;
}

.container > button:hover {
  border: none;
  background-color: rgba(100, 100, 100, 0.5);
}

.btnwrap {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.btn {
  width: 30px;
  margin: 5px;
  border-radius: 8px;
}

#SVGRepoiconCarrier {
  width: 30px;
}

.btn:hover {
  opacity: 0.5;
}
